<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time_limit %><br />
    <%= f.number_field :time_limit %>
  </div>

  <h3> workout items </h3>
  <%= f.fields_for :workout_items do |item| %>
    <%= render :partial => "workout_item_fields", :locals => {:f => item} %>
  <% end %>

  <p><%= link_to_add_fields "Add Workout Item", f, :workout_items %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
