<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="rounded">
    <li><%= f.text_field :title, :placeholder => "Title"  %></li>
    <li><%= f.date_select :date %></li>
    <li><%= f.number_field :time_limit, :placeholder => "Time Limit"%></li>
  </ul>

  <ul>
    <li><%= link_to_add_fields "Add Workout Item", f, :workout_items %></li>
  </ul>
  <h2> Workout Items </h3>
  <div class="rounded">
  <%= f.fields_for :workout_items do |item| %>
    <%= render :partial => "workout_item_fields", :locals => {:f => item} %>
  <% end %>
  </div>
  <ul class="individual">
    
    <input type="submit" value="Submit" id="submit">
  </ul>
  
<% end %>
