<ul class="fields <%= "new" if f.object.new_record? %>">
  <li><%= f.collection_select :workout_type_id, WorkoutType.all, :id, :name %></li>
  <li><%= f.number_field :reps, :placeholder => 'Reps' %></li>
  <li><%= f.number_field :weight, :placeholder => 'Weight' %></li>
  <li><%= link_to_remove_fields "remove", f %></li>
</ul>