<h1>Listing workouts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Time limit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.title %></td>
    <td><%= workout.date %></td>
    <td><%= workout.time_limit %></td>
    <td><%= link_to 'Show', workout %></td>
    <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
    <td><%= link_to 'Destroy', workout, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout', new_workout_path %>
