<h1>Listing workouts</h1>

<% @workouts.each do |workout| %>
<ul class="edgetoedge">
  <li><%= workout.title %></li>
  <li><%= workout.date %></li>
  <li><%= workout.time_limit %></li>
  <li><%= link_to 'Show', workout %></li>
  <li><%= link_to 'Edit', edit_workout_path(workout) %></li>
  <li><%= link_to 'Destroy', workout, confirm: 'Are you sure?', method: :delete %></li>
</ul>
<% end %>

<ul class="individual">
  <li><%= link_to 'New Workout', new_workout_path %></li>
</ul>