<%= form_for(@workout_type) do |f| %>
  <% if @workout_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_type.errors.count, "error") %> prohibited this workout_type from being saved:</h2>

      <ul>
      <% @workout_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
  <input type="submit" value="Submit" id="submit">
  </div>
<% end %>
