<h1>Listing workout_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workout_types.each do |workout_type| %>
  <tr>
    <td><%= workout_type.name %></td>
    <td><%= link_to 'Show', workout_type %></td>
    <td><%= link_to 'Edit', edit_workout_type_path(workout_type) %></td>
    <td><%= link_to 'Destroy', workout_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout type', new_workout_type_path %>
